<div class="content">
    <div class="content-timer">
        <div class="content-h">
            <div class="time">00 <span>h</span> </div>
            <div class="content-btn">
                <button> + </button>
                <button> - </button>
            </div>
        </div>
        <div class="content-m">
            <div class="time">00 <span>m</span> </div>
            <div class="content-btn">
                <button> + </button>
                <button> - </button>
            </div>
        </div>
        <div class="content-s">
            <div class="time">00 <span>s</span> </div>
            <div class="content-btn">
                <button> + </button>
                <button> - </button>
            </div>
        </div>
    </div>
    <div class="content-btn-action">
        <button type="button">&#9658;</button>
        <button type="button">&#9724;</button>
        <button type="button">&#8635;</button>
    </div>
</div>
<audio #idAudio controls class="dnone">
    <source type="audio/mpeg" src="../../assets/Sound The Alarm - TrackTribe.mp3">
</audio>
